#container {
    display: none;
}

.Wheel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 50%;
    width: 80%;
}

.teddy {
    height: 33%;
    width: 33%;
    margin-bottom: 68px;
}

.name {
    width: 100%;
    height: 4%;
    margin-bottom: 175px;
}

#name_big {
    display: none;
}

#name_small {
    display: block;
}

@media (min-width: 768px) {
    #name_big {
        display: block;
    }
    #name_small {
        display: none;
    }
    .Wheel {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 30%;
        width: 30%;
        margin-bottom: 400px;
    }
    .teddy {
        height: 50%;
        width: 40%;
        margin-bottom: 175px;
    }
    .name {
        width: 100%;
        height: 10%;
        margin-bottom: 200px;
        -webkit-animation: wave 5.77778s 0.3s infinite linear;
        -moz-animation: wave 5.77778s 0.3s infinite linear;
        animation: wave 5.77778s 0.3s infinite linear;
    }
}

@media (height: 812px) {
    .Wheel {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 20%;
        width: 80%;
        margin-bottom: 400px;
    }
    .name {
        width: 100%;
        height: 4%;
        margin-bottom: 240px;
    }
}

.loader-wrapper {
    position: relative;
    height: 100%;
    z-index: 5000;
    width: 100%;
    background: #000000;
    overflow: auto;
    text-align: center;
}

#loading-text {
    color: var(--white);
    font-family: 'Roboto';
    font-size: 15px;
    /* font-weight: bold; */
    /* opacity: 0; */
    text-transform: uppercase;
}

.loadWheel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 50%;
    -moz-animation: loading-text-opacity 3s linear 0s infinite normal;
    -o-animation: loading-text-opacity 3s linear 0s infinite normal;
    -webkit-animation: loading-text-opacity 3s linear 0s infinite normal;
    animation: loading-text-opacity 3s linear 0s infinite normal;
}

.blink {
    -moz-animation: loading-text-opacity 3s linear 0s infinite normal;
    -o-animation: loading-text-opacity 3s linear 0s infinite normal;
    -webkit-animation: loading-text-opacity 3s linear 0s infinite normal;
    animation: loading-text-opacity 3s linear 0s infinite normal;
    opacity: 0;
}

@keyframes loading-text-opacity {
    0% {
        opacity: 0
    }
    20% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@-moz-keyframes loading-text-opacity {
    0% {
        opacity: 0
    }
    20% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes loading-text-opacity {
    0% {
        opacity: 0
    }
    20% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@-o-keyframes loading-text-opacity {
    0% {
        opacity: 0
    }
    20% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}